; app
app_debug=false
app_trace=false
app_environment=production

; 数据库
database_type=mysql
database_host=127.0.0.1
database_port=3306
database_name=test
database_user=username
database_password=password
database_charset=utf8
database_table_prefix=mac_
